<ion-header style="background-color: #607D8B">
  
      <ion-buttons slot="start" style="background-color:#607D8B ">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
    <ion-title><b>Addtask</b></ion-title>
  
</ion-header>

<ion-content style="background-color:#B0BEC5">
<ion-content style="background-color:#B0BEC5">
    <!-- <ion-row class="input1" style="background-color:#B0BEC5">
        {{title}}
      </ion-row> -->
      <ion-row class="input2" style="background-color:#B0BEC5">
          <ion-input type="text" #second></ion-input>
        </ion-row>
        <!-- <ion-row class="input3">
            <ion-input type="text" #third></ion-input>
          </ion-row> -->
          <ion-row>
              <ion-button class="add1" (click)="task(second)">Add</ion-button>
          </ion-row>
</ion-content>
</ion-content>
