.input1{
    border:1px solid black;
    width:400px;
}
.input2{
    border:1px solid black;
    width:490px;
    height: 70px;
    margin-top:20px;
}
.input3{
    border:1px solid black;
    width:400px;
}
.add1{
    margin-top:100px;
    margin-left:170px; 
}
ion-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}