.arrow{
    float: left;
}
.add{
    margin-right: 250px;
     //margin-top:5px;
}
.contact{
    //align:center;
    margin-top:160px;
    // border-bottom: 1px solid black;
    width:250px;
    margin-left: 60px;
    margin-right: 90px;
     
    border: 1px solid black;
    
}
.name{
    //align:center;
    margin-top:25px;
    // border-bottom: 1px solid black;
    width:250px;
    margin-left: 60px;
    margin-right: 90px;
         border: 1px solid black;
    
}
.password{
    //align:center;
    margin-top:23px;
    //margin-bottom: 90px;
    border-bottom: 1px solid black;
    width:250px;
    margin-left: 60px;
    margin-right: 90px;
     
    border: 1px solid black;
    
}
.gender{
    //align:center;
    margin-top:23px;
     border-bottom: 1px solid black;
    width:300px;
    margin-left: 60px;
    margin-right: 90px;
     
     border: 1px solid black;
    
}
.arrow_for{
    float: right;
    margin-top:2px;
    zoom: 2;
}
.next{
    text-align: center;
     margin-left: 133px;
    margin-top:12px;
    font-size: 16px;
}
ion-footer{
    height: 50px;
}


