ion-header{
    height:230px;
}
 ion-title{
    margin-top:140px;
 }
// textarea{
//     border: 1px solid black;
// }
ion-icon{
    float: right;
    zoom:4.0;
}
.sort{
    zoom:2.0;
    margin-bottom: 20px;
}
.icon{
    zoom:4.0;
    float: right;
    margin-top:70px; 
}