// ion-header{
//     height:20px;
// }
// ion-content{
//     margin-top: 200px;
// }
 .title{
     border: 1px solid black;
    width:250px;
    margin-left: 50px;
 }
 .date{
    border: 1px solid black;
    width:250px;
    margin-left: 50px;
 }
 .time{
    border: 1px solid black;
    width:250px;
    margin-left: 50px;
 }
 ion-icon{
    zoom:4.0;
    margin-left:30px;
    
 }
 ion-toggle{
     margin-left: 30px;
 }
 ion-button{
     margin-left:120px;
 }
 ion-header{
    height:40px;
 }
 ion-title{
    margin-top:3px;
 }