.title{
    border: 1px solid black;
    margin-left:70px;
    
    width:250px;
}
.circle1{
    margin-top:150px;
}
.circle2{
    margin-top:150px;
    
}
.circle3{
    margin-top:150px;
    
}
.value{
    margin-left:70px;
    
}
.add1{
    margin-left:150px;
    margin-top:100px;
}
ion-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}