<ion-header style="background-color:#607D8B">
  
    <ion-title>more</ion-title>
  
</ion-header>

<ion-content padding text-align:center>
<ion-icon (click)="share()" name="arrow-dropleft-circle" class="icon"></ion-icon>
<h1 class="add">Sort</h1>
<ion-icon name="sunny" class="icon1"></ion-icon>
<h1 class="add">Theme</h1>
<ion-icon name="checkbox" class="icon1"></ion-icon>
<h1 class="add">Hide Completed task</h1>
<ion-icon name="share" class="icon1"></ion-icon>
<h1 class="add">Send a copy</h1>
</ion-content>
