.icon{
    float:left;margin-top:20px;margin-left:20px;font-size:30px;
}
.add{
    margin-left:70px;
}
.icon1{
    float:left;margin-top:10px;margin-left:20px;font-size:30px;
}
ion-header{
    height:230px;
}
ion-title{
    margin-top:140px;
 }